# ==============================================================================
#                          Bitcoin Core CODEOWNERS
# ==============================================================================

# Configuration of code ownership and review approvals for the bitcoin/bitcoin
# repo.

# Order is important; the last matching pattern takes the most precedence.
# More info on how this file works can be found at:
# https://help.github.com/articles/about-codeowners/

# This file is called CODEOWNERS because it is a magic file for GitHub to
# automatically suggest reviewers. In this project's case, the names below
# should be thought of as code reviewers rather than owners. Regular
# contributors are free to add their names to specific directories or files
# provided that they are willing to provide a review when automatically
# assigned.

# Absence from this list should not be interpreted as a discouragement to
# review a pull request. Peer review is always welcome and is a critical
# component of the progress of the codebase. Information on peer review
# guidelines can be found in the CONTRIBUTING.md doc.


# Maintainers
#   @cutepuppydog
#   
#  
#   
#

# Docs
/doc/*[a-zA-Z-].md                         
/doc/Doxyfile.in                            
/doc/REST-interface.md                     
/doc/benchmarking.md                        
/doc/bitcoin-conf.md                      
/doc/build-freebsd.md                      
/doc/build-netbsd.md                    
/doc/build-openbsd.md                     
/doc/build-osx.md                           
/doc/build-unix.md                       
/doc/build-windows.md                       
/doc/dependencies.md                        
/doc/developer-notes.md                     
/doc/files.md                              
/doc/gitian-building.md                  
/doc/reduce-memory.md                       
/doc/reduce-traffic.md            
/doc/release-process.md                     
/doc/translation_strings_policy.md          

# Build aux
/build-aux/m4/bitcoin_qt.m4                 

# MSVC build system
/build_msvc/                                

# Settings
/src/util/settings.*                        

# Fuzzing
/src/test/fuzz/                             
/doc/fuzzing.md                        

# Test framework
/test/functional/mempool_updatefromblock.py 
/test/functional/feature_asmap.py         
/test/functional/interface_bitcoin_cli.py   
/test/functional/tool_wallet.py             

# Translations
/src/util/translation.h                   

# Dev Tools
/contrib/devtools/security-check.py         
/contrib/devtools/test-security-check.py    
/contrib/devtools/symbol-check.py           

# Gitian/Guix
/contrib/gitian-build.py                   
/contrib/guix/                              

# Compatibility
/src/compat/glibc_*                         

# GUI
/src/qt/forms/                              

# Wallet
/src/wallet/                                

# CLI
/src/bitcoin-cli.cpp                       

# Coinstats
/src/node/coinstats.*                   

# Index
/src/index/                               

# Descriptors
*descriptor*                                

# Interfaces
/src/interfaces/                           

# DB
/src/txdb.*                                 
/src/dbwrapper.*                          

# Scripts/Linter
*.sh                                       
/test/lint/                                
/test/lint/lint-shell.sh                  

# Bech32
/src/bech32.*                              
/src/bench/bech32.*                         

# PSBT
/src/psbt*                                  
/src/node/psbt*                            
/doc/psbt.md                                

# P2P
/src/net_processing.*                     
/src/protocol.*                             

# Consensus
/src/coins.*                                
/src/script/script.*                      
/src/script/interpreter.*                  
/src/validation.*                         
/src/consensus/                           
